$background-color: #efd8a9;
/* Top bar */
$top-bar-color: #68aef3;
$top-bar-text-color: #4600be;
$top-bar-text-size: 1.2rem;
/* Turtle list*/
$list-margin: 20px;
$list-gap: 20px;
$borders-color: #ddd;
$turtle-box-bg-color: #f9f9f9;
$turtle-box-inside-padding: 10px;


body {
  background-color: $background-color;
  width: auto;
  height: auto;
  margin: 0;


}

/* Top bar */
.navbar {
  background-color: $top-bar-color;
  padding: 10px;

  /* Vertical layout */
   ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  /* Menu */
  li {
    a {
      color: $top-bar-text-color;
      text-decoration: none;
      font-size: $top-bar-text-size;
      background-color: darken($top-bar-color,10%) ;

      &:hover {
        text-decoration: underline;
        background-color: darken($top-bar-color,20%) ;
      }
    }
  }

  /* Welcome text */
  span {
      color: $top-bar-text-color;
      font-size: $top-bar-text-size;
    }
}

/* Turtle list*/
.turtle-list {
    display: flex;
    flex-direction: column;
    gap: $list-gap;
    margin: $list-margin;

  /* Single turtle */
  .turtle-item {
    display: flex;
    align-items: center;
    background-color: $turtle-box-bg-color;
    padding: $turtle-box-inside-padding;
    border: 2px solid $borders-color;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    /* hover over lik change */
     &:has(.turtle-info a:hover) {
    background-color: darken($turtle-box-bg-color, 10%);
    }

  }
  .turtle-name{
  display: flex;
  align-items: center;
  gap: 10px;
}
  .turtle-info a {
  text-decoration: none;
  }

   /* Turtle picture */
  .turtle-item img.turtle-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    border: 2px solid $borders-color;
  }

  .favorite-label {
  display: inline-block;
  cursor: pointer;

    .favorite-checkbox {
      display: none;
    }

    .favorite-icon {
      width: 24px; /* Adjust the size as needed */
      height: 24px;
      display: inline-block;
      background-image: url('heart.png'); /* Default image */
      background-size: cover;
      transition: background 0.3s ease;
    }
    .favorite-checkbox:checked + .favorite-icon {
      background-image: url('heart_red.png');
    }
  }

}