body{
  background-color:  #007bff;
  width: auto;
  height: 100%;
}

/* register  */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

  p {
    margin-bottom: 15px;
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  span {
    font-size: 0.875rem;
    color: red;
  }

  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
/* top bar */
.navbar {
  background-color: #2c3e50;
  padding: 10px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin: 0 10px;

    a {
      color: #ecf0f1;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #bdc3c7;
      font-size: 1rem;
    }
  }
}
/* Turtle page */
.turtle-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
        }
.turtle-info {
    flex: 1;
    margin-right: 20px;
        }
.turtle-picture {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
        }
.map-container {
    margin-top: 20px;
    width: 40%;
    height: 40%;
        }
.map-turtle {
    width: 100%;
    height: 100%;
        }

