{% extends 'base.html' %}

{% block head %}
    <title>"Turtles"</title>
{% endblock %}

{% block body %}
    <h1>All Turtles</h1>
    <button id="toggle-active" class="btn">Hide Inactive</button>
        <div class="turtle-list">
        {% for turtle in turtles %}

            <div class="turtle-item {% if not turtle.is_active %}inactive{% endif %}">
            <img src="{{ url_for('static', filename="turtle.jpg") }}" alt="{{ turtle.name }}" class="turtle-picture">
            <div class="turtle-info">
                <div class = "turtle-name">
                    <a href="{{ url_for('turtle.turtle', turtle_id=turtle.id) }}">
                        <h2>{{ turtle.name }}</h2>
                    </a>
                    <label class="favorite-label">
                        <input
                        type="checkbox"
                        class="favorite-checkbox"
                        data-turtle-id="{{ turtle.id }}"
                        {% if turtle in favorites %} checked {% endif %}>
                        <span class="favorite-icon"></span>
                    </label>
                </div>
                <p>{{ turtle.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>


    <script>
    document.querySelectorAll('.favorite-checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const turtleId = this.dataset.turtleId;
            const isFavorite = this.checked;

            fetch('/update_favorite', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}'
                },
                body: JSON.stringify({ turtle_id: turtleId, favorite: isFavorite })
            })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    alert('Error updating favorite status!');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error updating favorite status!');
            });
        });
    });

    const toggleButton = document.getElementById('toggle-active');
    toggleButton.addEventListener('click', function() {
        document.querySelectorAll('.turtle-item.inactive').forEach(item => {
            item.classList.toggle('hidden');
        });
        toggleButton.textContent =
            toggleButton.textContent === 'Hide Inactive' ? 'Show Inactive' : 'Hide Inactive';
    });
    </script>
{% endblock %}
