/* Top bar */
.navbar {
  background-color: var(--primary-color);
  /* menu and color-menu */
  .menu-divider{
    padding: 0;
    margin: 0;
  }
  /* Styling for the color menu */
  .color-menu-li {
    position: absolute;
    right: 0;
    top: 0;
    height: 42px;
    width: 4%;
  }
  /* Main menu */
  /* Vertical layout */
  .main-menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96%;

    /* Menu */
    li {
      position: relative;
      padding: 10px 20px 10px 20px;
      background-color: var(--primary-color);

      a {
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
          text-decoration: underline;
        }
      }
      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
    .menu-li:hover {
      background-color: var(--primary-color-dark);
    }
  }

  /* Welcome text */
  span {
      color: var(--secondary-color);
      font-size: 1.2rem;
    }

  /* Favorites menu */
  .dropdown-menu-turtles {
    display: none;
    position: absolute ;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    a {
      color: var(--text-color);
      padding: 10px 20px;
      display: block;
      white-space: nowrap;
    }

    span{
      color: var(--secondary-color);
      padding: 10px 20px;
      display: block;
      white-space: nowrap;
    }
  }

  .turtle-list-box:hover >  .dropdown-menu-turtles {
      display: block;
  }

   .dropdown-menu-turtles:hover{
     display: block;
  }

  .dropdown-menu-turtles button {
    color: white;
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
  }

  /* Color menu */
  .color-menu {
    padding-top: 6px;
    position: center;
    width: 30px;
    height: 30px;
  }
  .dropdown-color-menu {
    display: none;
    position: absolute ;
    top: 100%;
    right: 0;
    width: 180px;
    height: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    .color-box {
      height: 60px;
      .color-palette {
        display: flex;
        padding: 10px;
        gap: 10px;
        list-style: none;
        .b {
          list-style: none;
          height: 30px;
          width: 30px;
          border-radius: 10px;
          border: 1px solid #000000;
        }
      }
    }
    li{
      marker: none;
      background-color: var(--primary-color);
    }
    li:hover{
        background-color: var(--primary-color-dark);
      }

    /* Theme color boxes */
    .theme-1 {
      .b1{
         background-color: var(--primary-color);
      }
      .b2{
         background-color: var(--secondary-color);
      }
      .b3{
         background-color: var(--background-color);
      }
      .b4{
         background-color: var(--text-color);
      }
    }

    .theme-2 {
     .b1{
         background-color: var(--primary-color);
      }
      .b2{
         background-color: var(--secondary-color);
      }
      .b3{
         background-color: var(--background-color);
      }
      .b4{
         background-color: var(--text-color);
      }
    }

    .theme-3 {
     .b1{
         background-color: var(--primary-color);
      }
      .b2{
         background-color: var(--secondary-color);
      }
      .b3{
         background-color: var(--background-color);
      }
      .b4{
         background-color: var(--text-color);
      }
    }
  }

  .color-menu:hover > .dropdown-color-menu,
  .dropdown-color-menu:hover {
    display: block;
  }

  .color-menu-li:hover  >  .dropdown-color-menu {
    display: block;
  }
}

