/* Turtle list*/
$list-gap: 20px;

.toggle-buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  button{
    padding: 20px 0 20px 0;
    span{
      color: var(--text-color);
    }
  }
}

.turtle-list {
    display: flex;
    flex-direction: column;
    gap: $list-gap;
    margin: 20px;

  /* Single turtle */
  .turtle-item {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    transition: opacity 0.3s ease;
    /* hover over */
    &:hover{
      background-color: var(--primary-color-dark);
    }
  }

  .turtle-name{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .turtle-info{
    background-color: var(--primary-color);
    &:hover{
      background-color: var(--primary-color-dark);
    }
    a {
      text-decoration: none;
      color: inherit;
      &:visited{
        color: inherit;
      }
    }
  }

   /* Turtle picture */
  .turtle-item img.turtle-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    border: 2px solid var(--text-color);
  }

  .favorite-label {
  display: inline-block;
  cursor: pointer;

    .favorite-checkbox {
      display: none;
    }

    .favorite-icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      background-image: url("../pictures/heart.png");
      background-size: cover;
      transition: background 0.3s ease;
    }
    .favorite-checkbox:checked + .favorite-icon {
      background-image: url('../pictures/heart_red.png');
    }
  }
}
