/* Turtle page */
.turtle-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 95vh;
  margin: 0;
  padding: 0;

  /* Left Container */
  .left-turtle-container {
    flex: 1;
    max-width: 50%;
    padding: 2%;
    box-sizing: border-box;

    /* Map Section */
    .map-container {
      width: 98%;
      height: 98%;
      background-color: var(--primary-color);

      .map-turtle {
        padding-left: 2%;
        padding-top: 2%;
        width: 96%;
        height: 96%;
        border: none;
      }
    }
  }

  /* Right Container */
  .right-turtle-container {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Picture and Description */
    .turtle-picture-box {
      text-align: center;

      .turtle-picture {
        width: 80%;
        max-width: 300px;
        height: auto;
        margin-bottom: 20px;
      }
    }

    .turtle-description {
      margin-top: 10px;
    }
  }
}
