<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static3',filename='styles.css')}}"/>
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('turtles') }}">Turtles</a></li>

            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><span>Welcome, {{ current_user.username }}</span></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><span>Welcome, Guest</span></li>
            {% endif %}
        </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <inputdiv class="alert alert-{{ category }}">{{ message }}</inputdiv>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block body %} {% endblock %}
</body>
</html>