<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_02b4dbbe8946e7af69752325e1d5c497 {
                    position: relative;
                    width: 100.0%;
                    height: 400.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_02b4dbbe8946e7af69752325e1d5c497" ></div>
        
</body>
<script>
    
    
            var map_02b4dbbe8946e7af69752325e1d5c497 = L.map(
                "map_02b4dbbe8946e7af69752325e1d5c497",
                {
                    center: [34.0522, -118.2437],
                    crs: L.CRS.EPSG3857,
                    ...{
  "maxBounds": null,
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_a84c1e74b23849494b6caf469c07ac3e = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_a84c1e74b23849494b6caf469c07ac3e.addTo(map_02b4dbbe8946e7af69752325e1d5c497);
        
    
            var marker_3d4e7cf605244c8a85f8685c0f319d09 = L.marker(
                [34.0522, -118.2437],
                {
  "draggable": null,
  "autoPan": null,
}
            ).addTo(map_02b4dbbe8946e7af69752325e1d5c497);
        
    
        var popup_4bc124e2b3b13f167c229f468723d145 = L.popup({
  "maxWidth": "100%",
  "autoClose": null,
  "closeOnClick": null,
});

        
            
                var html_60a37e20f32214bac7af503cf8f08729 = $(`<div id="html_60a37e20f32214bac7af503cf8f08729" style="width: 100.0%; height: 100.0%;">Los Angeles</div>`)[0];
                popup_4bc124e2b3b13f167c229f468723d145.setContent(html_60a37e20f32214bac7af503cf8f08729);
            
        

        marker_3d4e7cf605244c8a85f8685c0f319d09.bindPopup(popup_4bc124e2b3b13f167c229f468723d145)
        ;

        
    
    
            var marker_c8010f3830d22ca1bca9afb87ee91a0f = L.marker(
                [36.7783, -119.4179],
                {
  "draggable": null,
  "autoPan": null,
}
            ).addTo(map_02b4dbbe8946e7af69752325e1d5c497);
        
    
        var popup_6ed17a6b27cff888da9feaa2922807fd = L.popup({
  "maxWidth": "100%",
  "autoClose": null,
  "closeOnClick": null,
});

        
            
                var html_5447d9616a36d32298d2da0b0f9d2e8a = $(`<div id="html_5447d9616a36d32298d2da0b0f9d2e8a" style="width: 100.0%; height: 100.0%;">California</div>`)[0];
                popup_6ed17a6b27cff888da9feaa2922807fd.setContent(html_5447d9616a36d32298d2da0b0f9d2e8a);
            
        

        marker_c8010f3830d22ca1bca9afb87ee91a0f.bindPopup(popup_6ed17a6b27cff888da9feaa2922807fd)
        ;

        
    
    
            var marker_2a7ac5f41e0f84919a89b10865975a51 = L.marker(
                [40.7128, -74.006],
                {
  "draggable": null,
  "autoPan": null,
}
            ).addTo(map_02b4dbbe8946e7af69752325e1d5c497);
        
    
        var popup_387524ed657552b89f61cb82f525a04a = L.popup({
  "maxWidth": "100%",
  "autoClose": null,
  "closeOnClick": null,
});

        
            
                var html_af14cedb7f77b5d9145e4b65bc8ade80 = $(`<div id="html_af14cedb7f77b5d9145e4b65bc8ade80" style="width: 100.0%; height: 100.0%;">New York</div>`)[0];
                popup_387524ed657552b89f61cb82f525a04a.setContent(html_af14cedb7f77b5d9145e4b65bc8ade80);
            
        

        marker_2a7ac5f41e0f84919a89b10865975a51.bindPopup(popup_387524ed657552b89f61cb82f525a04a)
        ;

        
    
</script>
</html>