




/* Color */
$background-color: #FBF6E9;
/* Top bar */
$top-bar-color: rgba(136, 220, 239, 0.78);
$top-bar-text-color: #0019be;
$top-bar-text-size: 1.2rem;
/* Turtle list*/
$list-margin: 20px;
$list-gap: 20px;
$borders-color: #ddd;
$turtle-box-bg-color: #f9f9f9;
$turtle-box-inside-padding: 10px;


body {
  background-color: $background-color;
  width: auto;
  height: auto;
  margin: 0;
}

/* Top bar */
.navbar {
  background-color: $top-bar-color;

  /* Vertical layout */
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  /* Menu */
  li {
    padding: 10px 30px 10px 20px;

    &:hover {
        background-color: darken($top-bar-color,10%);
     }
    a {
      color: $top-bar-text-color;
      text-decoration: none;
      font-size: $top-bar-text-size;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Welcome text */
  span {
      color: $top-bar-text-color;
      font-size: $top-bar-text-size;
    }

  /* Favorites menu */
  .dropdown-menu {
    display: none; /* Hide by default */
    position: absolute ;
    top:  calc(5px); /* Position below the parent */
    left: calc(5px);

    background-color: #444;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
  .dropdown-menu a {
    color: white;
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
}

.turtle-list-nav:hover +  .dropdown-menu {
    display: block; /* Show on hover */
}

 .dropdown-menu:hover{
   display: block;
}
}

/* Turtle list*/
.turtle-list {
    display: flex;
    flex-direction: column;
    gap: $list-gap;
    margin: $list-margin;

  /* Single turtle */
  .turtle-item {
    display: flex;
    align-items: center;
    background-color: $turtle-box-bg-color;
    padding: $turtle-box-inside-padding;
    border: 2px solid $borders-color;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    /* hover over lik change */
     &:has(.turtle-info a:hover) {
    background-color: darken($turtle-box-bg-color, 10%);
    }

  }
  .turtle-name{
  display: flex;
  align-items: center;
  gap: 10px;
}
  .turtle-info a {
  text-decoration: none;
  }

   /* Turtle picture */
  .turtle-item img.turtle-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    border: 2px solid $borders-color;
  }

  .favorite-label {
  display: inline-block;
  cursor: pointer;

    .favorite-checkbox {
      display: none;
    }

    .favorite-icon {
      width: 24px; /* Adjust the size as needed */
      height: 24px;
      display: inline-block;
      background-image: url('heart.png'); /* Default image */
      background-size: cover;
      transition: background 0.3s ease;
    }
    .favorite-checkbox:checked + .favorite-icon {
      background-image: url('heart_red.png');
    }
  }
}

/* Turtle page */
.turtle-top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.turtle-bottom-container{
  display: flex;
   justify-content: space-between;
  align-items: flex-start;
}
.turtle-info {
    background-color: $turtle-box-bg-color;
    flex: 1;
    margin-right: 20px;
        }
.turtle-picture {
    max-width: 50%;
    max-height: 70%;
    border-radius: 10px;
    object-fit: cover;
    margin: 10px;
        }
.turtle-picture-box {
    object-fit: cover;
    margin: 10px;
        }
.map-container {
    margin: 20px;
    width: 800px;
    height: 800px;

    .map-turtle {
      width: 100%;
      height: 100%;
    }
}


.turtle-description{
  margin: 20px;
  padding: 20px;
}
.turtle-description h2{
  width: 400px;
}
.turtle-description p{
  width: 400px;
}