    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}"/>
        <title>Turtle Tracking</title>
        {% block head %} {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a class = "turtle-list-nav" href="{{ url_for('turtle.turtles') }}">Turtles</a>
                     <ul class="dropdown-menu">
                        {% for turtle in favorites %}
                            <li><a href="{{ url_for('turtle.turtle', turtle_id=turtle.id) }}">{{ turtle.name }}</a></li>
                        {% else %}
                            <li><span>No favorites yet</span></li>
                        {% endfor %}
                    </ul>
                </li>

                {% if current_user.is_authenticated %}
                    <li><span>Welcome, {{ current_user.username }}</span></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                     <li><span>Welcome, Guest</span></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}

            </ul>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <inputdiv class="alert alert-{{ category }}">{{ message }}</inputdiv>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block body %} {% endblock %}


    </body>

    </html>
