{% extends 'base.html' %}

{% block head %}
    {{ turtle.name }}
{% endblock %}

{% block body %}
   <div class="turtle-container">
       <!-- Map Section -->
       <div  class="left-turtle-container">
            <div class="map-container">
                <iframe class="map-turtle" src="{{ url_for('turtle.generated_map',turtle_id=turtle.id) }}"></iframe>
            </div>
       </div>
       <!-- Info Section -->
       <div class="right-turtle-container">
           <div class = "turtle-picture-box">
               <img src="{{ picture_url }}" alt="{{ turtle.name }} Picture" class="turtle-picture">
               <div class="turtle-description">
                   <h2>Description</h2>
                   <p>{{ turtle.description }}</p>
               </div>
           </div>
       </div>
    </div>
{% endblock %}

