{% extends 'base.html' %}

{% block head %}
    Turtles
{% endblock %}

{% block body %}
    <script src="{{ url_for('static', filename='js/turtle-list.js') }}" defer></script>
    <div class="toggle-buttons">
        <button id="toggle-inactive" class="btn">
            <span>Show inactive turtles</span>
            <img src="{{url_for('static', filename='pictures/icon-on.png')}}" alt="Show inactive turtles" class="icon">
        </button>
        <button id="toggle-no-info" class="btn">
            <span>Show turtles with no information</span>
            <img src="{{url_for('static', filename='pictures/icon-on.png')}}" alt="Show turtles with no inforamtion" class="icon">
        </button>
    </div>
        <div class="turtle-list">
        {% for turtle in turtles %}

            <div class="turtle-item {% if not turtle.is_active %}inactive{% endif %}">
            <img src="{{ url_for('static', filename='pictures/turtle.png') }}" alt="{{ turtle.name }}" class="turtle-picture">
            <div class="turtle-info">
                <div class = "turtle-name">
                    <a href="{{ url_for('turtle.turtle', turtle_id=turtle.id) }}">
                        <h2>{{ turtle.name }}</h2>
                    </a>
                    <label class="favorite-label">
                        <input
                        type="checkbox"
                        class="favorite-checkbox"
                        data-turtle-id="{{ turtle.id }}"
                        {% if turtle in favorites %} checked {% endif %}>
                        <span class="favorite-icon"></span>
                    </label>
                </div>
                <p class="turtle-description {% if turtle.description == 'None' %}short-description{% endif %}">{{ turtle.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
