<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_601529d78816de3568d0d5db7841d540 {
                    position: relative;
                    width: 50.0%;
                    height: 400.0px;
                    left: 10.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_601529d78816de3568d0d5db7841d540" ></div>
        
</body>
<script>
    
    
            var map_601529d78816de3568d0d5db7841d540 = L.map(
                "map_601529d78816de3568d0d5db7841d540",
                {
                    center: [34.0522, -118.2437],
                    crs: L.CRS.EPSG3857,
                    ...{
  "maxBounds": null,
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_2486461c0be1172956096135782bb366 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 3,
  "maxZoom": 100,
  "maxNativeZoom": 100,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_2486461c0be1172956096135782bb366.addTo(map_601529d78816de3568d0d5db7841d540);
        
    
            var marker_17fe6d9ecb140adc3e8fd0fa9ba2948e = L.marker(
                [34.0522, -118.2437],
                {
  "draggable": null,
  "autoPan": null,
}
            ).addTo(map_601529d78816de3568d0d5db7841d540);
        
    
        var popup_f67cdf01db61778b90f8b352ea5bd805 = L.popup({
  "maxWidth": "100%",
  "autoClose": null,
  "closeOnClick": null,
});

        
            
                var html_ec7d7e5d800d8c1b04dd6aecb4d2a42e = $(`<div id="html_ec7d7e5d800d8c1b04dd6aecb4d2a42e" style="width: 100.0%; height: 100.0%;">Los Angeles</div>`)[0];
                popup_f67cdf01db61778b90f8b352ea5bd805.setContent(html_ec7d7e5d800d8c1b04dd6aecb4d2a42e);
            
        

        marker_17fe6d9ecb140adc3e8fd0fa9ba2948e.bindPopup(popup_f67cdf01db61778b90f8b352ea5bd805)
        ;

        
    
    
            var marker_bc0dd83dd528188919a0a9358b3ba7cd = L.marker(
                [36.7783, -119.4179],
                {
  "draggable": null,
  "autoPan": null,
}
            ).addTo(map_601529d78816de3568d0d5db7841d540);
        
    
        var popup_d25923624289105b444c17eea3836834 = L.popup({
  "maxWidth": "100%",
  "autoClose": null,
  "closeOnClick": null,
});

        
            
                var html_0bb9866ce9c3f86dcfeb956254499bfd = $(`<div id="html_0bb9866ce9c3f86dcfeb956254499bfd" style="width: 100.0%; height: 100.0%;">California</div>`)[0];
                popup_d25923624289105b444c17eea3836834.setContent(html_0bb9866ce9c3f86dcfeb956254499bfd);
            
        

        marker_bc0dd83dd528188919a0a9358b3ba7cd.bindPopup(popup_d25923624289105b444c17eea3836834)
        ;

        
    
    
            var marker_463d578726a52096e1d9debf0661b6bf = L.marker(
                [40.7128, -74.006],
                {
  "draggable": null,
  "autoPan": null,
}
            ).addTo(map_601529d78816de3568d0d5db7841d540);
        
    
        var popup_200d913bb81969db72a817ac4a137853 = L.popup({
  "maxWidth": "100%",
  "autoClose": null,
  "closeOnClick": null,
});

        
            
                var html_dc37dd6d442274dc60537bf084b6a6a7 = $(`<div id="html_dc37dd6d442274dc60537bf084b6a6a7" style="width: 100.0%; height: 100.0%;">New York</div>`)[0];
                popup_200d913bb81969db72a817ac4a137853.setContent(html_dc37dd6d442274dc60537bf084b6a6a7);
            
        

        marker_463d578726a52096e1d9debf0661b6bf.bindPopup(popup_200d913bb81969db72a817ac4a137853)
        ;

        
    
    
            var poly_line_c1fb6a5275a50fa5a437889ec64010e3 = L.polyline(
                [[34.0522, -118.2437], [36.7783, -119.4179], [40.7128, -74.006]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_601529d78816de3568d0d5db7841d540);
        
</script>
</html>